<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for d3d9" Description="Code analysis rules for Software_d3d9_Driver.vcxproj." ToolsVersion="17.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26400" Action="None" />
    <Rule Id="C26401" Action="None" />
    <Rule Id="C26408" Action="None" />
    <Rule Id="C26409" Action="None" />
    <Rule Id="C26429" Action="None" />
    <Rule Id="C26432" Action="None" />
    <Rule Id="C26440" Action="None" />
    <Rule Id="C26446" Action="None" />
    <Rule Id="C26455" Action="None" />
    <Rule Id="C26481" Action="None" />
    <Rule Id="C26482" Action="None" />
    <Rule Id="C26485" Action="None" />
    <Rule Id="C26490" Action="None" />
    <Rule Id="C26493" Action="None" />
    <Rule Id="C26494" Action="None" />
    <Rule Id="C26495" Action="None" />
  </Rules>
</RuleSet>